fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
geoalchemy2

alembic

pydantic
pydantic-settings

python-jose[cryptography]
bcrypt>=4.0.1,<5
python-multipart

httpx

pytest
pytest-asyncio

websockets
